.hamburger-menu { 
    font-size: 2em;
    position: fixed; 
    top: 5px;
    right: 5px;
    color: #0055ed;  
    z-index: 1;
    padding: 0px 14px 6px 14px;   
}

.hamburger-menu:hover {
    cursor: pointer;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #0055ed; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 1px;
    text-decoration: none;
    font-size: 4.7em;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: 700;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay-content-links a:hover{
    text-decoration: underline;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -34px;
    right: 16px;
    font-size: 6em;
}

.overlay .closebtn a:hover {
    color: rgb(68, 71, 69);
}

/*Social Icon Styling*/
.overlay-content .social-icons a {
    fill: #fff;
    display: inline-block;
    width: 70%;
}

.overlay-content a svg:hover {
  fill: rgb(68, 71, 69);
}

.overlay-content a svg { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.overlay-content .social-icons a {
    display: inline;
} 

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 480px) {
    .overlay a {
        font-size: 60px;
    }
}