.menu, .menu-bg, .menu-burger {
  z-index:1;
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 34px;
  text-align: center;
  right: 25px;
  top: 25px;
  overflow: hidden;
}

.menu-bg {
  background: #0055ed;
}
.menu-bg.fs {
  z-index:1;
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu-burger {
  z-index:1;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
  color: white;
}

.menu-items {
  z-index:1;
  transition: .1s;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .4s;
  margin-top: 100px;
  pointer-events: none;
}
.menu-items div {
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs div {
  opacity: 1;
  margin-top: 75px;
}

.content {
  padding: 100px 50px;
  line-height: 1.62em;
  color: #444;
}
.content h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}