html,  
body {
  height: 100%;
  width: 100%;    
} 
@keyframes grow-down {
  100% {
    bottom: -16em; 
  }
}
@keyframes grow-up {
  0% {
    bottom: -16em;
  }
  100% {
    bottom: 5em;
  }
}
.show {
  display: block;
}

body {
  font-family: "sofia-pro",sans-serif;
  color: rgb(68, 71, 69); 
  overflow: hidden;
} 
.md {
  z-index:0;
  position:relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.md:hover {
  z-index:999;
  box-shadow:rgba(0, 0, 0, 0.4) 0 10px 20px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 10px 20px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.4) 0 10px 20px 0;
}
#preloader {
  z-index: 1;
}   
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  top: 100px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 262px;
}
a {
  color: #0055ed;
  cursor: pointer;
}
a:hover {
  color: #0055ed;
  cursor: pointer;
}
a:active {
  color: #0055ed;
  text-decoration: none;
}
nav {
  list-style: none;
  margin: 0; 
  position: fixed;
  top: 0;
  z-index: 99;
  background: #fff;
  width: 100%;
  background-color: #fff;
}
nav a {
  margin: 0px 20px 0 0;
  color: rgb(68, 71, 69); 
}
nav .active {
  text-decoration: underline;
  color: #0055ed;
}
.nav-logo {
  margin: .5em 4em 0px 10em;
}
.nav-logo h1 {
  font-size:1.4em;
  display: inline-block;
  margin-right: 1rem;
}
.nav-logo p {
  display: inline-block;
}
.nav-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.pagination {
  right: 5%;
  top: 10%;
  margin-top: -50px;
  height: 100px;
  width: 200px;
  z-index: 999;
  position: fixed;
}
.pagination>li {
  display: -webkit-box;
}
.pagination a {
  margin-bottom: 65px;
  color: #5A5A5A;
  position:relative;
  padding:4px;
  display: flex;
  align-items: flex-start;
}
.pagination a.active {
  color: #0055ed;
}
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:7px;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}
.pagination a:hover .hover-text {
  opacity: 1;
}
.pagination>li>a, .pagination>li>span {
  border: none;
  color: #333;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #383838;
  background-color: #fff;
  border-color: #fff;
}
ul.project-list {
  list-style-type: none;
}
ul.project-list li {
  list-style-type: none;
}
.project-list a {
  margin-bottom: 24px;
}
ul.project-list::before {
  content: '';
  position: absolute;
  left: 2em;
  top: 3em;
  bottom: 5em;
  width: 1px;
  background-color: black;
  animation: grow-down 1s forwards;
}
ul.project-list.up::before {
  animation: grow-up 1s forwards;
}
header {
  min-height: 100%;
}
header .right-header {
  position: absolute;
  z-index: 1;
  top: 30rem;
  right: 32rem;
}
header img {
  top: 20%;
  position: absolute;
  left: 25%;
}
header .copy {
  position: relative;
  left: 17rem;
  top: 14rem;
}
#lineDrawing {
  margin-left: 6em;
  margin-bottom: 6em;
}
.copy h1{
  font-family: "minion-pro";
  font-weight: 700;
  font-size: 4em;
  text-align: center;
}
.right-header h2 {
  font-size: 4em;
}
.right-header h3 {
  font-size: 3em;
  margin: 4rem 0rem 0rem 0rem;
}
p.greeting {
  margin: 6rem 0rem 4rem 0rem;
  margin: 6rem 0rem 4rem 0rem;
  font-size: 1.5em;
  max-width: 600px;
  text-align: center;
}
.right-header .copy img.scroll-arrow {
  height: 15rem;
  margin-top: 0rem;
}
.hand-illustrations {
  position: absolute;
}
.project-image {
  width: 479px;
  height: 382px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
}
.project-image {
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: .6; 
  position: relative;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .65) 59%, rgba(255, 255, 255, 100) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 255)), color-stop(59%, rgba(255, 255, 255, .65)), color-stop(100%, rgba(255, 255, 100, 0.65)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .65) 59%, rgba(255, 255, 255, 100) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .65) 59%, rgba(255, 255, 255, 100) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .65) 59%, rgba(255, 255, 255, 100) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .65) 59%, rgba(255, 255, 255, 100) 100%);
  background-color: #86EE6A;
  background-repeat: no-repeat;
}
[data-section-name="landing"] h1 {
  -webkit-animation-duration: 5s;
}
[data-section-name="landing"] h2 {
  -webkit-animation-duration: 7s;
}
[data-section-name="landing"] h3 {
  -webkit-animation-duration: 10s;
}
[data-section-name="landing"] .greeting {
  -webkit-animation-duration: 12s;
}
[data-section-name="landing"] img {
  margin-right: 8em;
}
p.scroll-small {
  color: #0055ed;
}
[data-section-name="google-clips"] .project-image {
  background-image: url("../img/site/googleclips.png");
  background-size: 150%;
  background-position: center;
}
[data-section-name="azure"] .project-image {
  background-image: url("../img/site/azure.png");
  background-size: 70%;
  background-position: center;
}
[data-section-name="digital-escrow"] .project-image {
  background-image: url("../img/site/digital-escrow.png");
  background-size: 150%;
  background-position: center;
}
[data-section-name="oh-hey"] .project-image {
  background-image: url("../img/site/oh-hey.png");
  background-size: 30%;
  background-position: center;
  background-color: #F6F6F6;
}
[data-section-name="skintcinnati"] .project-image {
  background-image: url("../img/site/skintcinnati.png");
  background-size: 150%;
  background-position: center;
  background-color: #F6F6F6;
}
[data-section-name="about"] .project-image {
  background-image: url("../img/about/ugh_its_me-02.png");
  background-size: 100%;
  background-color: #fff;
  opacity: 1;
}
[data-section-name="about"] .project-info h1 {
  font-size: 3em;
  padding-bottom: .1em;
  font-family: "minion-pro";
  font-weight: 700;
}
[data-section-name="about"] .project-info h3 {
  padding-bottom: .5em;
  padding-bottom: .5em;
  font-size: 1.5em;
  line-height: inherit;
}
.projects span {
  margin-left: 2em;
}

.carat-active {
  transform: rotate(180deg);
}

.project-info {
  padding-left: 2em;
  max-width: 444px;
}
.project-info h1 {
  font-size: 5em;
  padding-bottom: 2em;
  font-family: "minion-pro";
  font-weight: 700;
}
.project-info h2 {
  font-size: 2em;
}
.project-info p {
  font-size: 1em;
}
.scroll-small {
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  position: absolute;
  margin-top: -11rem;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 31px;
  height: 50px;
  margin-left: -20px;
  top: 50%;
  margin-top: 10em;
  box-shadow: inset 0 0 0 2px #3F3F3F;
  border-radius: 25px;
  position: relative;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #3F3F3F;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
.header-blue-background {
  height: 100vh;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
[data-section-name="about"] .about-me-image {
  background-image: url("../img/about/ugh_its_me-02.png");
  border-radius: 4px;
  height: 381px;
  width: 300px;
}
@-webkit-keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}
@keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}
.scroll-arrow {
  content:'';
  position: relative;
  margin:auto;
  -webkit-animation:3s arrow infinite ease;
  animation:3s arrow infinite ease;
}
[data-section-name="work"] img {
  height: 170px;
}
.img__wrap {
  position: relative;
  margin-right: 8rem;
}
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.72);
  color: #333;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  text-align: center;
}
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
[data-section-name="contact"] .content {
  display: flex;
}
[data-section-name="contact"] .content-copy {
  margin-left: 3rem;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #0055ed;
  background-color: transparent;
  border-color: transparent;
}
.white-space {
  margin-top: 3rem;
}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  nav {
    display: none;
  } 
  header .right-header {
    top: 40rem;
    right: 17rem;
  }
  .pagination {
    display: none;
  }
  header h1.hey {
    font-size: 11em;
  }
  img.landing-hand.left {
    display: none;
  }
  img.landing-hand.right-hand {
    left: 75rem;
    top: 5rem;
  }
  .portfolio-section img {
    display: none;
  }
  .scroll {
    display: none;
  }
  .scroll-small {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: relative;
    top: 100px;
  }
}

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px)  { 
  nav {
    display: none;
  } 
  .pagination {
    display: none;
  }
  header .right-header {
    top: 40rem;
    right: 17rem;
  }
  header h1.hey {
    font-size: 11em;
  }
  img.landing-hand.left {
    display: none;
  }
  img.landing-hand.right-hand {
    left: 75rem;
    top: 5rem;
  }
  .portfolio-section img {
    display: none;
  }
  .scroll {
    display: none;
  }
  .scroll-small {
    display: none;
  } 
}

/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-device-width: 480px) {
  nav {
    display: none;
  }
  [data-section-name="work"] {
    margin-top: 40rem;
  }
  .nav-content {
    display: none;
  }
  header {
    background: #0056eb;
    width: 100%;
  }
  header h1.hey {
    top: 1rem;
    left: 1rem;
    font-size: 6em;
    color: #0056eb;
  }
  header .right-header {
    top: 18rem;
    right: 1rem;
  }
  #lineDrawing {
    display: none;
  }
  .landing-hand {
    display: none;
  }
  .right-header .copy {
    background: transparent;
    border: none;
    position: relative;
    top: -5rem;
    color: #333;
    padding: 0;
    width: 32rem;
  }
  .right-header .copy img.scroll-arrow {
    height: 14rem;
    margin-top: 0rem;
  }
  .img__wrap {
    margin: 3rem 0 3rem 0;
  }
  .header-blue-background {
    display: none;
  }
  .pagination {
    display: none;
  }
  .about-illustration {
    display: none;
  }
  .about-wrapper {
    margin-top: 0;
  }
  .scroll {
    display: none;
  }
  .img__wrap {
    margin-right: 0;
    margin-top: 8rem;
  }
  .about-copy {
    margin-left: 0;
  }
  .content img {
    display: none;
  }
  [data-section-name="contact"] .content-copy {
    margin-left: 0;
  }
  [data-section-name="landing"] img {
    display: none;
  }

  [data-section-name="landing"] .copy {
    margin: 2em;
    font-size: .7em;
  }

  [data-section-name="landing"] .greeting {
    font-size: 3em;
  }

  section {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 262px;
  }
  .scroll-animation {
    display: none;
  }
  .project-image {
    width: 395px;
    height: 300px;
    margin: .5em 0px 0px .5em;
  }
  .project-info {
    margin: 3em 0em 5em 0;
    padding-bottom: 2em;
  }
  .project-info h1 {
    padding-bottom: 0em;
  }
}