.main-headline {
	margin-top: 3%;
}

.hand-illustration {
	margin-top: 5%;
}

.about-section {
	background-color: blue;  
}

.work-section {
	background-color: #F4F4F4;
}

.work-section .block-nav {
  color: blue;
}

.work-section .block-nav a {
  color: blue;
}

.work-image-section h1 {
	color: rgb(68, 71, 69);
}

.portfolio-images {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	list-style: none;
	-webkit-flex-direction: column;
   flex-direction: column;
    -webkit-flex-wrap: wrap; /* NEW */
    flex-wrap: wrap;
}

.work-image-section a {
	flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1 1 auto;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1 1 auto;              /* IE 10 */
    display: block;
    min-height: 25%;
    text-decoration: none;
}

.work-image-section a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.work-image-section a.oh-hey {
	background-image: url('../img/portfolio/thumbnails/OhHey_iPhone_Mockup.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.seismic-hero {
	background-image: url('../img/portfolio/fullsize/Seismic-Hero.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gogo-travel {
	background-image: url('../img/portfolio/thumbnails/gogotravel.jpeg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logos {
	background-image: url('../img/portfolio/thumbnails/logos.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-header .nav>li a {
	list-style: none;
    font-size: .5em;
    color: white;
}

/*SMALL SCREEN FIXES*/
@media (max-width: 480px) {
	 .main-headline {
    	margin-top: 18%;
  	} 

	.hand-illustration svg {
		max-width: 100%;
	}

	header {
		height: 100%;
	}

	.header-nav {
		font-size: 1.5em;
	}
}