/*Custom Styles for Oh-Hey page*/
.oh-hey-img {
	width: 100%;
}

h2 {
	margin: 0;
	text-align: center;
} 

.project-role{
	padding: 2% 2% 2% 16%;
	background-color: #F9F9F9;
} 

.project-role p {
	font-size: 1em;
	margin: 0;
	font-weight: 200;
}

.project-description {
	background-color: #fff;
}

.project-description p {
	color: rgb(68, 71, 69);;
	padding: 2% 16% 2% 16%;
}

.project-img {
	background-color: #F9F9F9;
	padding: 4% 0 4% 0;
}

.project-description-2 p {
	color: rgb(68, 71, 69);
	padding: 2% 2% 2% 2%;
}

.project-description h2 {
	padding: 2% 16% 0 16%;
}

/*SMALL SCREEN FIXES*/
@media (max-width: 480px) {
	.project-description p {
		padding: 5%;
	}

	.project-role {
		padding: 5%;
	}
}