/*Custom Styles for Oh-Hey page*/ 
h4 {
  font-weight: 200;
  font-size: 1.2em; 
} 

section { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 262px;
}
 
h5 {
  font-size: 1em;
}

video {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.white-space-3 {
  margin-top: 3rem;
}
.white-space-6 {
  margin-top: 6rem;
}
.white-space-12 {
  margin-top: 12rem;
}
.link {
	margin-top: 1em;
}
.large-header-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}
#project-header h1 {
	margin-top: 1em;
	font-family: "minion-pro";
	font-weight: 700;
	font-size: 6em;
}
#project-header p {
	margin-top: 3em;
}
img.azure-wireframe {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.google-play-image img {
	width: 250px;
}
.small-screen-link {
	display: none;
}
.navigating-pricing {
	margin-top: 15em;
}
.col.small-header-image {
	display: none;
}
.azure h1 {
	font-size: 4em;
}

.project-heading p {
	margin-top: 4em;
}

.project-info h3 {
	font-size: 1em;
	color: #909090;
}

.project-info h2 {
	font-size: 1em;
}

.azure-persona {
    width: 766px;
}

.project-info {
	padding-top: 2em;
}

.project-description h2 {
	font-family: "minion-pro";
	font-weight: 700;
}

.project-description.azure img {
	width: 70%;
	margin-right: 1em;
}

.project-description.azure img.third {
	width: 86%;
}

.paint-point {
	margin: 2rem;
	display: inline-block;

}

.pain-point-journey {
	text-align: center;
}

.pain-point-journey img {
	height: 100px;
	margin: 0 auto;
}

video.microsoft-pricing {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 2em;
}

.jumbotron {
	text-align: center;
}

header img.gogo-mockup {
	max-width: 700px;
    margin: auto;
    top: 35rem;
}

.browse-projects h1 {
	font-family: "minion-pro";
	size: 1.1em;
	margin-top: 1em;
	font-weight: 700;
	color: rgb(68, 71, 69); 
}

.project-description .browse-projects h2 {
	font-family: "sofia-pro",sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin-top: 0;
	color: rgb(68, 71, 69); 
}

.browse-projects h3 {
	font-family: "sofia-pro",sans-serif;
	font-size: 1em;
	margin-top: 1em;
	font-weight: 300;
	color: rgb(68, 71, 69); 
	margin-top: 4em;
}


a.browse:hover {
	text-decoration: none;
	color: blue;
	opacity: .6;
}


.jumbotron .gogo-travel {
	color: #fff;
}

img.gogo-mockup {
    	max-width: 630px;
    	margin: 0 auto;
}

.white-text {
	color: #fff;
}

.colors {
	margin-top: 5em;
}

.project-image-title { 
    position: absolute; 
    z-index: 1;
    width: 580px; 
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.seismic-hero-header {
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 770px;
    left: 240px;
}
.escrow-hero-title {
    position: absolute;
    z-index: 1;
    width: 580px;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}

.user-summary img {
	margin-right: 1rem;
}

.header-image img {
	max-height: 550px;
    position: absolute;
    top: 20%;
}

.project-image-title img {
	max-height: 550px;
	margin-top: 20%;
}

.project-image-title.oh-hey img {
    max-height: 250px;
}

.oh-hey h3 {
	color: #fff;
}

.back-to-work {
	font-size: 1.5em;
    position: fixed;
    top: 1em;
    top: 5px;
    color: rgb(68, 71, 69); 
    z-index: 1;
    padding: 20px 14px 6px 14px;;
}

.back-to-work a {
	color: #0255ED;
}

.back-to-work a:hover {
	text-decoration: underline;
	color: #0055ed;
}

.project-image-title h1 {
    font-size: 3em;
}

.oh-hey-img { 
	width: 100%;
	position: relative;
}

.project-role p {
	font-size: 1em;
	margin: 0 auto;
	font-weight: 200;
}

.project-description {
	background-color: #fff;
	color: rgb(68, 71, 69);
}

.press-clipping h3 {
	font-size: 1.2em;
}

.press-clipping h5 {
	font-size: 1em;
	font-weight: 100;
}


.press-clipping {
	margin-bottom: 3em;
}

.google-clips img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 3em;
	margin-top: 2em;
}

.concept-description, .screens {
	margin-top: 60px;
}

img.user-profile-image {
    height: 150px;
}

.user-profile {
    color: rgb(68, 71, 69);
    margin: 2% 16% 2% 16%;
}

.user-info {
	background-color: #f9f9f9;
	padding: 1% 2% 1% 2%;
	margin-top: 6%;
}

.user-profile h2 {
	margin: 0 0 3% 0;
}

.user-profile h4 {
	font-size: 2em;
}

.text-centered {
	text-align: center;
}

.user-interview-gifs {
	padding: 0 5% 5% 16%;
}

.vertical-gif {
	height: 500px;
	padding-right: 5%;
	padding-top: 2%;
}

.project-img {
	padding: 4% 0 4% 0;
}

.light-grey-bg {
	background-color: #F9F9F9;
}

.blue-bg {
	background-color: #027dc2;
}

.project-img-description {
	text-align: center;
}

#contact {
	border-top: solid;
}

/*Oh Hey Header*/
header h3 {
	color: #fff;
	font-weight: 100;
	margin-top: 10%;
}

/*Oh Hey Color Section*/
.color-block {
	display: inline-block;
	margin-left: 5%;
	position: relative;
}
.color-block p, .type-headline p, .type-paragraphs p {
	color: #888888;
}
.color {
	width: 150px;
	height: 150px;
}
.color-circle {
	width: 150px;
	height: 150px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}
.color-circle-medium {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
}
.color-circle-white {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 23%;
    left: 27%;
    background-color: #fff;
    width: 70px;
    height: 70px;
}
.medium {
    width: 40px;
    height: 40px;
    top: 25%;
    left: 31%;
}
.white {
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 23%;
    left: 27%;
    background-color: #fff;
    width: 70px;
    height: 70px;
}
.blue {

 	background : -moz-linear-gradient(50% 2.38% -90deg,rgba(96, 228, 245, 1) 0%,rgba(96, 221, 245, 1) 23.05%,rgba(96, 203, 245, 1) 55.85%,rgba(96, 172, 245, 1) 94.33%,rgba(96, 167, 245, 1) 100%);
 	background : -webkit-linear-gradient(-90deg, rgba(96, 228, 245, 1) 0%, rgba(96, 221, 245, 1) 23.05%, rgba(96, 203, 245, 1) 55.85%, rgba(96, 172, 245, 1) 94.33%, rgba(96, 167, 245, 1) 100%);
 	background : -webkit-gradient(linear,50% 2.38% ,50% 101.53% ,color-stop(0,rgba(96, 228, 245, 1) ),color-stop(0.2305,rgba(96, 221, 245, 1) ),color-stop(0.5585,rgba(96, 203, 245, 1) ),color-stop(0.9433,rgba(96, 172, 245, 1) ),color-stop(1,rgba(96, 167, 245, 1) ));
 	background : -o-linear-gradient(-90deg, rgba(96, 228, 245, 1) 0%, rgba(96, 221, 245, 1) 23.05%, rgba(96, 203, 245, 1) 55.85%, rgba(96, 172, 245, 1) 94.33%, rgba(96, 167, 245, 1) 100%);
 	background : -ms-linear-gradient(-90deg, rgba(96, 228, 245, 1) 0%, rgba(96, 221, 245, 1) 23.05%, rgba(96, 203, 245, 1) 55.85%, rgba(96, 172, 245, 1) 94.33%, rgba(96, 167, 245, 1) 100%);
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#60E4F5', endColorstr='#60A7F5' ,GradientType=0)";
 	background : linear-gradient(180deg, rgba(96, 228, 245, 1) 0%, rgba(96, 221, 245, 1) 23.05%, rgba(96, 203, 245, 1) 55.85%, rgba(96, 172, 245, 1) 94.33%, rgba(96, 167, 245, 1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60E4F5',endColorstr='#60A7F5' , GradientType=0);
}
.green {
 	background : -moz-linear-gradient(50% 0.37% -90deg,rgba(69, 244, 181, 1) 0%,rgba(69, 237, 181, 1) 30.5%,rgba(69, 219, 181, 1) 73.8%,rgba(69, 204, 181, 1) 100%);
 	background : -webkit-linear-gradient(-90deg, rgba(69, 244, 181, 1) 0%, rgba(69, 237, 181, 1) 30.5%, rgba(69, 219, 181, 1) 73.8%, rgba(69, 204, 181, 1) 100%);
 	background : -webkit-gradient(linear,50% 0.37% ,50% 96.9% ,color-stop(0,rgba(69, 244, 181, 1) ),color-stop(0.305,rgba(69, 237, 181, 1) ),color-stop(0.738,rgba(69, 219, 181, 1) ),color-stop(1,rgba(69, 204, 181, 1) ));
 	background : -o-linear-gradient(-90deg, rgba(69, 244, 181, 1) 0%, rgba(69, 237, 181, 1) 30.5%, rgba(69, 219, 181, 1) 73.8%, rgba(69, 204, 181, 1) 100%);
 	background : -ms-linear-gradient(-90deg, rgba(69, 244, 181, 1) 0%, rgba(69, 237, 181, 1) 30.5%, rgba(69, 219, 181, 1) 73.8%, rgba(69, 204, 181, 1) 100%);
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45F4B5', endColorstr='#45CCB5' ,GradientType=0)";
 	background : linear-gradient(180deg, rgba(69, 244, 181, 1) 0%, rgba(69, 237, 181, 1) 30.5%, rgba(69, 219, 181, 1) 73.8%, rgba(69, 204, 181, 1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45F4B5',endColorstr='#45CCB5' , GradientType=0);
}
.red {
 	background : -moz-linear-gradient(50% 0.37% -90deg,rgba(255, 92, 100, 1) 0%,rgba(248, 92, 100, 1) 27.03%,rgba(230, 92, 100, 1) 65.38%,rgba(207, 92, 100, 1) 100%);
 	background : -webkit-linear-gradient(-90deg, rgba(255, 92, 100, 1) 0%, rgba(248, 92, 100, 1) 27.03%, rgba(230, 92, 100, 1) 65.38%, rgba(207, 92, 100, 1) 100%);
 	background : -webkit-gradient(linear,50% 0.37% ,50% 100.85% ,color-stop(0,rgba(255, 92, 100, 1) ),color-stop(0.2703,rgba(248, 92, 100, 1) ),color-stop(0.6538,rgba(230, 92, 100, 1) ),color-stop(1,rgba(207, 92, 100, 1) ));
 	background : -o-linear-gradient(-90deg, rgba(255, 92, 100, 1) 0%, rgba(248, 92, 100, 1) 27.03%, rgba(230, 92, 100, 1) 65.38%, rgba(207, 92, 100, 1) 100%);
 	background : -ms-linear-gradient(-90deg, rgba(255, 92, 100, 1) 0%, rgba(248, 92, 100, 1) 27.03%, rgba(230, 92, 100, 1) 65.38%, rgba(207, 92, 100, 1) 100%);
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5C64', endColorstr='#CF5C64' ,GradientType=0)";
 	background : linear-gradient(180deg, rgba(255, 92, 100, 1) 0%, rgba(248, 92, 100, 1) 27.03%, rgba(230, 92, 100, 1) 65.38%, rgba(207, 92, 100, 1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5C64',endColorstr='#CF5C64' , GradientType=0);
}
.black {
 	background : -moz-linear-gradient(50% -0.27% -90deg,rgba(56, 56, 56, 1) 0%,rgba(49, 49, 49, 1) 24.27%,rgba(31, 31, 31, 1) 58.81%,rgba(0, 0, 0, 1) 99.33%,rgba(0, 0, 0, 1) 99.5%);
 	background : -webkit-linear-gradient(-90deg, rgba(56, 56, 56, 1) 0%, rgba(49, 49, 49, 1) 24.27%, rgba(31, 31, 31, 1) 58.81%, rgba(0, 0, 0, 1) 99.33%, rgba(0, 0, 0, 1) 99.5%);
 	background : -webkit-gradient(linear,50% -0.27% ,50% 99.45% ,color-stop(0,rgba(56, 56, 56, 1) ),color-stop(0.2427,rgba(49, 49, 49, 1) ),color-stop(0.5881,rgba(31, 31, 31, 1) ),color-stop(0.9933,rgba(0, 0, 0, 1) ),color-stop(0.995,rgba(0, 0, 0, 1) ));
 	background : -o-linear-gradient(-90deg, rgba(56, 56, 56, 1) 0%, rgba(49, 49, 49, 1) 24.27%, rgba(31, 31, 31, 1) 58.81%, rgba(0, 0, 0, 1) 99.33%, rgba(0, 0, 0, 1) 99.5%);
 	background : -ms-linear-gradient(-90deg, rgba(56, 56, 56, 1) 0%, rgba(49, 49, 49, 1) 24.27%, rgba(31, 31, 31, 1) 58.81%, rgba(0, 0, 0, 1) 99.33%, rgba(0, 0, 0, 1) 99.5%);
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000' ,GradientType=0)";
 	background : linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(49, 49, 49, 1) 24.27%, rgba(31, 31, 31, 1) 58.81%, rgba(0, 0, 0, 1) 99.33%, rgba(0, 0, 0, 1) 99.5%);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838',endColorstr='#000000' , GradientType=0);
}
.navy-circle {
	background-color: #333;
}
.green-circle {
	background-color: #0C1637;
}
.blue-circle {
	background-color: #11F6A2;
}
.red-circle {
	background-color: #E5E5E5;
}
.bright-blue-circle {
    background-color: #417AF9;
}
.sky-blue-circle {
    background-color: #2AEAD8;
}
.dark-grey-circle {
    background-color: #9A9A9A;
}
.bright-red-circle {
    background-color: #F57D79;
}
/*Oh Hey Typography Section*/
.type-headline h1 {
	font-weight: 500;
}
.type-paragraphs h3 {
	font-size: 1.5em;
	font-weight: 100;
}
.wireframes img {
    width: 85%;
    margin-top: 10rem;
}

/*Oh Hey Logo Section*/
.logo-block {
	display: inline-block;
	margin-right: 2%;
}
.logo-block img {
	margin-left: 5%;
}
.logo-grid {
	width: 200px;
}
.wordmark-grid {
	height: 183px;
}
.icon {
	width: 100px;
	margin-right: 15%;
	margin-top: 10%;
}
.icon-illustration {
    width: 230px;
}
.icon.timer {
	width: 56px;
}
.icon.map-flag {
	width: 150px;
}
.icon.heart-flag {
	width: 65px;
}
.icon.profile-icon {
	width: 80px;
}
.icon.search-icon {
	width: 75px;
}

/*Oh Hey Screen Section*/
.screen-blob {
	display: inline-block;
}
.screen-blob img {
	height: 380px;
}
.project-screens {
	max-width: 66em;
	margin: 0 auto;
}
.escrow-screen {
    width: 90%;
    margin: 0 auto;
}

/*SMALL SCREEN FIXES*/


@media only screen and (max-width: 480px) {
	.project-heading h1 {
		font-size: 40px;
		margin-top: 100px;
	}
	.col.small-header-image.no-gutters{
		padding: 0px;
		width: 100%;
	}
	.con-tent{
		padding-left: 5% !important;
		padding-right: 5% !important;
	}
	.row.small-screen-link{
		display: none;
	}
	.col .row .browse{
		width: 100% !important;
	}
	header h3 {
    	color: #fff;
    	font-weight: 100;
    	margin-top: 4%;
    	font-size: 1em;
	}
	h4 {
    	font-size: 1em;
	}
	.project-description {
		padding: 5%;
	}
	.project-arrow {
		display: block;
	}
	.project-role {
		padding: 5%;
	}

	.logo-block img {
    	max-width: 300px;
	}

	.project-image-title {
		top: 2%;
		width: 180px;
	}

	.project-image-title img {
    	max-height: 150px;
	}

	blockquote {
		font-size: 2em;
	}

	.smaller-photo {
		max-width: 93%;
	}

	.user-profile {
		margin: 2% 7% 2% 7%;
	}

	.project-description iframe {
		display: none;
	}

	.contact-blurb-section .description h1{
    	display: block;
    	margin-bottom: 15%;
  	}

	.contact-blurb-section .description {
    	border-top: solid 3px rgb(68, 71, 69);
    	margin-top: 20%;
  	}

	.contact-section {
		display: none;
	}

	#contact {
		border-top: none;
	}

	.description {
		padding: 0;
		position: inherit;
		transform: inherit;
	}

	.logo-block img {
		margin-left: 0;
	}

	.back-to-work {
		font-size: 2em;
	}

	.project-image-title h1 {
    	font-size: 2em;
	}

	.project-image-title.oh-hey img {
		max-height: 120px;
	}

	img.gogo-mockup {
    	max-width: 250px;
    	margin: 0 auto;
	}
	.link {
		display: none;
	}
	.small-screen-link {
		display: block;
		margin-top: 3em;
	}
	.large-header-image {
		display: none;
	}
	.col.small-header-image {
		display: block;
	}
	.back-to-work span {
	font-size: 30px;
	}
	.back-to-work p {
		font-size: 1em;
    	color: blue;
	}
	.back-to-work{
		display: block;
	}
	.project-description img {
		margin-top: 3em;
	}
}
@media only screen and (min-width:1000px){
.row.google-clips .col-md-12 img{
	margin: 0px 5px !important;
	width: 31%;
}
.cont-flu{
	padding-left: 5%;
	padding-right: 5%;
}
}
@media only screen and (min-width:480px) and (max-width:768px){
	.back-to-work{
		display: block;
	}
	.project-heading h1 {
		font-size: 50px;
		margin-top: 100px;
	}
	.col.tab-header-image{
		display: inline-block !important;
		width: 50%;
		float: right;
		height: 100%;
		overflow: hidden;
	}
	.row.google-clips .col-md-12 img{
		margin: 10px;
	}
	.project-description .row .col-md-4{
		width: 50% !important;
		display: inline;
	}
	.project-description .row{
		width: 100% !important;

	}
	.project-description .col-md-3{
		width: 25% !important;
	padding: 3px;
	}
	.project-description .col-md-3 img{
		margin-top: 10px;
	}
	.col .project-description h2{
		margin: 10px;
	}
	.link a{
		font-weight: 400;
		color: black;
	}
	.col.tab-header-image .img-fluid{
		height: auto;
	}
	.img-fluid.large-header-image{
		display: none;
	}
	.row.small-screen-link{
		display: none;
	}

}
.row .browse{
	width : 50%;
	display: inline-block;
}
/* @media only screen and (min-width:768px){
	.project-heading{
		width: 100%;
		display: inline-block;	}
	.project-heading h1 {
	font-size: 50px;
		margin-top: 100px;
	}
	.project-heading .row col-md-6{
		width: 100%;
	}
	.col.tab-header-image{
		display: inline-block !important;
		width: 50%;
		float: right;
		height: 100%;
		overflow: hidden;
		
	}
	.row.google-clips .col-md-12 img{
		margin: 10px;
	}
	.project-description .row .col-md-4{
		width: 50% !important;
		display: inline;
	}
	.project-description .row{
		width: 100% !important;

	}
	.project-description .col-md-3{
		width: 25% !important;
	padding: 3px;
	}
	.project-description .col-md-3 img{
		margin-top: 10px;
	}
	.col .project-description h2{
		margin: 10px;
	}
	.link a{
		font-weight: 400;
		color: black;
	}
	.col.tab-header-image .img-fluid{
		height: auto;
	}
	.img-fluid.large-header-image{
		display: none;
	}
	.row.small-screen-link{
		display: none;
	}
}
 */
