/*Custom Styles for Oh-Hey page*/
.project-image-title {
    position: absolute; 
    z-index: 1;
    width: 580px; 
    top: 2%;
    right: 0;
    left: 0;
    margin: auto;
} 

.project-image-title h1 {
	font-weight: 900;
    font-size: 3em;
}

.oh-hey-img {
	width: 100%;
	position: relative;
}

.project-role{
	padding: 2% 2% 2% 16%;
	background-color: #F9F9F9;
} 

.project-role p {
	font-size: 1em;
	margin: 0;
	font-weight: 200;
}

.project-description {
	background-color: #fff;
	color: rgb(68, 71, 69);;
	padding: 2% 16% 2% 16%;
}

img.user-profile-image {
	border-radius: 100%;
    height: 150px;
}

.user-profile {
    color: rgb(68, 71, 69);
    margin: 2% 16% 2% 16%;
}

.user-info {
	background-color: #f9f9f9;
	padding: 1% 2% 1% 2%;
	margin-top: 6%;
}

.user-profile h2 {
	margin: 0 0 3% 0;
}

.user-profile h4 {
	font-size: 2em;
}

.text-centered {
	text-align: center;
}

.user-interview-gifs {
	padding: 0 5% 5% 16%;
}

.vertical-gif {
	height: 500px;
	padding-right: 5%;
	padding-top: 2%;
}

.project-img {
	padding: 4% 0 4% 0;
}

.light-grey-bg {
	background-color: #F9F9F9;
}

.dark-grey-bg {
	background-color: #dbdbdb;
}

.blue-bg {
	background-color: #0090cd;
}

.project-img-description {
	text-align: center;
}

/*SMALL SCREEN FIXES*/
@media (max-width: 480px) {
	.project-description {
		padding: 5%;
	}

	.project-role {
		padding: 5%;
	}

	.project-image-title {
		width: 180px;
	}

	blockquote {
		font-size: 2em;
	}
}