html,  
body {
  height: 100%;
  width: 100%;   
}

body {
  font-family: "sofia-pro",sans-serif;
  color: rgb(68, 71, 69); 
}   

h1 {  
  font-weight: 900; 
  font-size: 3em; 
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 1.2em;
  /*color: #0055ed;*/
}

h5 {
  font-size: 1em;
  /*color: #0055ed;*/
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #0055ed;
  cursor: pointer;
}

a:hover {
  color: #0055ed;
}

a:active {
  color: #0055ed;
  text-decoration: none;
}

.btn {
  color: #0055ed;
  border-color: #0055ed;
  background-color: white;
  width: 70%;
}

.btn:hover { 
  color: white;
  border-color: #0055ed;
  background-color: #0055ed;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centered {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.full {
  height: 100vh;
}

.white {
  color: #fff;
}

header {
  background-position: center;
  text-align: center;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
}

.header-content {
  text-align: center;
}

.header-nav {
  list-style: none;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 3%;
}

.header-nav li {
  display: inline;
  padding-right: 2%;
}

.header-nav a {
  color: rgb(68, 71, 69);
}

.block-nav {
  list-style: none;
  color: rgb(68, 71, 69);
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 0;
  position: relative;
  top: 34%;
}

.block-nav a {
  color: rgb(68, 71, 69);
}

.description {
  padding: 5% 12% 7% 10%;
}

.contact-section {
  background-color: #fff;
  border-right: solid #0055ed 3px;
}

.contact-blurb-section .description {
  padding: 11% 12% 7% 10%;
}

/*Future Contact Form*/
.contact-form {
  width: 75%;
  margin: 0 auto;
}

/*Social Icons*/
.social-icons svg {
  margin-right: 3%;
  width: 8%;
}

.social-icons a {
  text-decoration: none;
  fill: #333;
}

a svg:hover {
  fill: #0055ed;
}

a svg { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

blockquote {
  background: #f9f9f9;
  border-left: none;
  padding: 1em 10%;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 3.5em;
  font-weight: 600;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*MOBILE*/
@media (max-width: 480px) {
  .hamburger-menu {
    /*Hamburger Menu Small Screens*/
    right: 6px;
    top: 6px;
  }
  .github-section h2 {
    font-size: 1em;
    width: 70%;
    font-weight: 400;
    width: 100%;
  }

  .full {
    height: 100%;
  }
  .work-image-section {
    height: 100vh;
  }
}
