html,  
body {
  height: 100%;
  width: 100%;   
}

body {
  font-family: "sofia-pro",sans-serif;
  color: rgb(68, 71, 69); 
}   

a {
  color: #0055ed;
  cursor: pointer;
}

a:hover {
  color: #0055ed;
  cursor: pointer;
}

a:active {
  color: #0055ed;
  text-decoration: none;
}

nav {
  font-size: 1.5em;
  text-decoration: none;
}

nav a {
  margin: 0px 20px 0 0;
  color: rgb(68, 71, 69); 
}

nav .home {
  margin-right: 10%;
}

nav .active {
  text-decoration: underline;
  color: #0055ed;
}

.work-links {
  list-style-type: none;
  padding: 0;
}

.work-links a {
  font-size: 1.3em;
}

.work-summary {
  margin-top: 3%;
}

.content img {
  max-height: 460px;
  margin: 0 auto;
  display: block;
}

.work-block {
  width: 150px;
  height: 150px;
  background-color: purple;
  display: inline-block;
}

.center {
  margin: 0 auto;
}

.content {
  margin-top: 15%;
}

.btn {
  color: #0055ed;
  border-color: #0055ed;
  background-color: white;
  width: 70%;
}

.btn:hover { 
  color: white;
  border-color: #0055ed;
  background-color: #0055ed;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centered {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.full {
  height: 100vh;
}

.white {
  color: #fff;
}

header {
  background-position: center;
  text-align: center;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
}

.header-nav {
  list-style: none;
  font-size: 1.5em;
}

.header-nav li {
  display: inline;
  padding-right: 2%;
}

.header-nav a {
  color: rgb(68, 71, 69);
}

.block-nav a {
  color: rgb(68, 71, 69);
}

.description {
  padding: 5% 12% 7% 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contact-blurb-section .description {
  padding: 11% 12% 7% 10%;
}

/*Social Icons*/
.social-icons svg {
  margin-right: 3%;
  width: 8%;
}

.social-icons a {
  text-decoration: none;
  fill: #333;
}

a svg:hover {
  fill: #0055ed;
}

a svg { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

blockquote {
  background: #f9f9f9;
  border-left: none;
  padding: 1em 10%;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 3.5em;
  font-weight: 600;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*MOBILE*/
@media (max-width: 480px) {
  .hamburger-menu {
    /*Hamburger Menu Small Screens*/
    right: 6px;
    top: 6px;
  }
  .github-section h2 {
    font-size: 1em;
    width: 70%;
    font-weight: 400;
    width: 100%;
  }

  .full {
    height: 100%;
  }
  .work-image-section {
    height: 100vh;
  }
}
