html, 
body {
  height: 100%;
  width: 100%;  
}

body {
  font-family: "sofia-pro",sans-serif;
  color: rgb(68, 71, 69);
}  

h1 { 
  font-weight: 900;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 1.2em;
  color: blue;
}

h5 {
  font-size: 1em;
  color: blue;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centered {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.white {
  color: #fff;
}

header {
  background-position: center;
  text-align: center;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
}

.header-nav {
  list-style: none;
  font-size: 2em;
  font-weight: 700;
  margin-top: 3%;
}

.header-nav li {
  display: inline;
  padding-right: 2%;
}

.header-nav a {
  color: rgb(68, 71, 69);
}

.block-nav {
  list-style: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 40% 0 0 0;
}

.block-nav a {
  color: white;
}

.description {
  padding: 5% 12% 7% 10%;
}

.work-image-section a {
  color: rgb(68, 71, 69);
}

.work-image-section h2 {
  color: rgb(68, 71, 69);
}

.work-image-section h4 {
  color: rgb(68, 71, 69);
}

.contact-section {
  background-color: #FFC8D0;
}

.contact-blurb-section .description {
  padding: 11% 12% 7% 10%;
}

/*Future Contact Form*/
.contact-form {
  width: 75%;
  margin: 0 auto;
}

/*Social Icons*/
.social-icons svg {
  margin-right: 3%;
  width: 8%;
}

.social-icons a {
  text-decoration: none;
  fill: #333;
}

a svg:hover {
  fill: blue;
}

a svg { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

blockquote {
  background: #f9f9f9;
  border-left: none;
  padding: 1em 10%;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 3.5em;
  font-weight: 600;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*Hamburger Menu Small Screens*/
/*SMALL SCREEN FIXES*/
@media (max-width: 480px) {
  .hamburger-menu {
    right: 6px;
    top: 6px;;
  }
}
