/************************************/
/*                                  */
/*      OVERALL THEME STYLING       */
/*                                  */
/************************************/

/*PAGE STYLING*/

html,  
body {
  height: 100%; 
  width: 100%;   
}

/************************************/
/*                                  */
/*          TYPE STYLING            */
/*                                  */
/************************************/

body {
  font-family: "sofia-pro",sans-serif;
  color: rgb(68, 71, 69); 
}   

/*HEADERS STYLING*/

h1 {  
  font-weight: 900; 
  font-size: 3em; 
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

/*PARAGRAPH STYLING*/

p {
  font-size: 16px;
  line-height: 1.5;
}

/*LINK STYLING*/
a {
  color: #0055ed;
  cursor: pointer;
}

a:hover {
  color: #0055ed;
}

a:active {
  color: #0055ed;
  text-decoration: none;
}

.blue-text {
  color: #0055ed;
}

/************************************/
/*                                  */
/*        BUTTON STYLING            */
/*                                  */
/************************************/

.btn {
  color: #0055ed;
  border-color: #0055ed;
  background-color: white;
  width: 70%;
}

.btn:hover { 
  color: white;
  border-color: #0055ed;
  background-color: #0055ed;
}

/************************************/
/*                                  */
/*        SPACES STYLING            */
/*                                  */
/************************************/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centered {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.full {
  height: 100vh;
}

/************************************/
/*                                  */
/*        COLORS STYLING            */
/*                                  */
/************************************/

.white {
  color: #fff;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
}

/************************************/
/*                                  */
/*    SOCIAL ICON SVG STYLING       */
/*                                  */
/************************************/

.social-icons img {
  margin-right: 3%;
  width: 5%;
}

.social-icons a {
  text-decoration: none;
  fill: #333;
}

a svg:hover {
  fill: #0055ed;
}

a svg { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

/************************************/
/*                                  */
/*       BLOCKQUOTE STYLING         */
/*                                  */
/************************************/

blockquote {
  background: #f9f9f9;
  border-left: none;
  padding: 1em 10%;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 3.5em;
  font-weight: 600;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/************************************/
/*                                  */
/*      MISC MOBILE STYLING         */
/*                                  */
/************************************/

@media (max-width: 480px) {
  .hamburger-menu {
    /*Hamburger Menu Small Screens*/
    right: 6px;
    top: 6px;
  }
  .github-section h2 {
    font-size: 1em;
    width: 70%;
    font-weight: 400;
    width: 100%;
  }

  .full {
    height: 100%;
  }
  .work-image-section {
    height: 100vh;
  }
}
